<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.it.guest.model.GuestDao">
	<insert id="insertOne" parameterType="org.it.guest.model.GuestDto">
		insert into guestbook values(#{writer, jdbcType=VARCHAR}, #{content, jdbcType=VARCHAR}, sysdate)
	</insert>
	<select id="readLatest" resultType="org.it.guest.model.GuestDto">
		select * from guestbook order by writedate desc
	</select>
</mapper>